.backgroundOptions {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 288px));
  gap: 16px;
  max-width: 1200px;
}

.backgroundOrange {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 100%;
  padding: 50% 0;
}

.backgroundPurple {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 100%;
  padding: 50% 0;
}

.backgroundBlue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 100%;
  padding: 50% 0;
}

.backgroundGreen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 100%;
  padding: 50% 0;
}


.backgroundChecked {
  position: absolute;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .backgroundOptions {
    grid-template-columns: repeat(4, minmax(168px, 200px));
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .backgroundOptions {
    grid-template-columns: repeat(2, 168px);
    max-width: 320px;
  }
}