.imageAddButton {
  background-color: var(--gray-100);
}

.imageAddButton:hover {
  background-color: var(--gray-200);
}

.imgOptions {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 288px));
  gap: 16px;
  max-width: 1200px;
}

.option {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  width: 100%;
  padding: 50% 0;
}

.ImgChecked {
  position: absolute;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ImgOptions {
    grid-template-columns: repeat(4, minmax(168px, 200px));
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .ImgOptions {
    grid-template-columns: repeat(2, 168px);
    max-width: 320px;
  }
}