.img {
  display: flex;
  width: 56px;
  height: 56px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--gray-200, #eee);
  background: var(--white, #fff);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .img {
    width: 40px;
    height: 40px;
  }
}
