.backGround {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px;
}

.buttonArea {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 11px;
}

.cardBox {
  display: grid;
  max-width: 1200px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cardContainer,
.cardContainerLoading {
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 28px 24px 0 24px;
  position: relative;
}

.cardContainerLoading {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: var(--gray-200);
}

.cardPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  background: var(--gray-500);
  border-radius: 100px;
}

.cardPlus:hover {
  cursor: pointer;
}

.cardImg {
  background-image: url(../../../asset/img/cardImg/plus.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 24px;
  height: 24px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profileMain {
  display: flex;
  gap: 14px;
}

.img {
  background-image: url(../../../asset/img/cardImg/sample-profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid var(--gray-20);
  flex-shrink: 0;
}

.nameAndBadgeContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nameContainer {
  display: flex;
  gap: 6px;
}

.badge {
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--purple-100);
  width: 41px;
}

.line {
  height: 1px;
  background: var(--gray-200);
}

.textAreaContainer {
  padding: 16px 24px;
}
.fontName {
  font-weight: var(--bold);
}
.textBox {
  position: absolute;
  top: 116px;
  left: 24px;
  right: 24px;
  line-height: normal;
  overflow: hidden;
  color: var(--gray-600);
  text-overflow: ellipsis;

  border: none;
  outline: none;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.textBox ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

.textBox ol li:before {
  content: counter(list-0, decimal) ". ";
}

.textBox ul > li::before {
  content: "\2022";
}

.textBox ul li::before {
  display: inline-block;
  white-space: nowrap;
  width: 12px;
}

.date {
  position: absolute;
  left: 24px;
  bottom: 24px;

  color: var(--gray-400);
  font-size: var(--xxs);
  font-weight: var(--regular);
  line-height: 18px;
  letter-spacing: -0.06px;
}

.trashButton {
  top: 24px;
  right: 24px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 50px;
}

.beige {
  background-color: var(--orange-200);
}

.green {
  background-color: var(--green-200);
}

.blue {
  background-color: var(--blue-200);
}

.purple {
  background-color: var(--purple-200);
}

@media (max-width: 1248px) {
  .cardBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 670px) {
  .cardBox {
    grid-template-columns: minmax(320px, 1fr);
  }
}

@media (max-width: 360px) {
  .textBox {
    -webkit-line-clamp: 3;
  }
}
