.backGround {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.buttonArea {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1194px;
  margin-bottom: 11px;
}

.cardBox {
  display: grid;
  max-width: 1194px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 384px);
  grid-template-rows: repeat(auto-fill, 284px);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 28px 24px 0 24px;
  position: relative;
}

.cardPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  background: var(--gray-500, #555);
  border-radius: 100px;
}

.cardPlus:hover {
  cursor: pointer;
}

.cardImg {
  background-image: url(../../../asset/img/cardImg/plus.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 24px;
  height: 24px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile {
  display: flex;
  gap: 14px;
}

.img {
  background-image: url(../../../asset/img/cardImg/sample-profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid var(--gray-200, #eee);
}

.nameAndBadgeContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nameContainer {
  display: flex;
  gap: 6px;
}

.badge {
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Purple-100, #f8f0ff);
  width: 41px;
}

.badgeText {
  color: var(--Purple-600, #9935ff);
  /* Font/14 Regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.07px;
}

.line {
  height: 1px;
  background: var(--gray-200, #eee);
}

.textAreaContainer {
  padding: 16px 24px;
}

.textBox {
  position: absolute;
  top: 116px;
  left: 24px;
  right: 24px;

  overflow: hidden;
  color: var(--gray-600, #4a4a4a);
  text-overflow: ellipsis;

  /* Font/18 Regular */

  border: none;
  outline: none;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.date {
  position: absolute;
  left: 24px;
  bottom: 24px;

  color: var(--gray-400, #383535);
  /* Font/12 Regular */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.06px;
}

.overFlowed {
  position: absolute;
  right: 24px;
  bottom: 30px;

  width: 10px;
  color: var(--gray-400, #383535);
  /* Font/12 Regular */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.06px;
}

.trashButton {
  position: absolute;
  top: 24px;
  right: 24px;
}

@media (max-width: 1240px) {
  .cardBox {
    grid-template-columns: repeat(auto-fill, 352px);
    grid-template-rows: repeat(auto-fill, 284px);
  }
}

@media (max-width: 360px) {
  .cardBox {
    grid-template-columns: repeat(auto-fill, 320px);
    grid-template-rows: repeat(auto-fill, 230px);
  }
  .cardContainer {
    height: 230px;
  }
}
