.badgeForm {
  display: inline-flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 4px;
  font-size: var(--xs);
  font-weight: var(--regular);
  line-height: 20px;
  letter-spacing: -0.07px;
}
.other {
  background: var(--orange-100);
  color: var(--orange-500);
}
.coworker {
  background: var(--purple-100);
  color: var(--purple-600);
}
.family {
  background: var(--green-100);
  color: var(--green-500);
}
.friend {
  background: var(--blue-100);
  color: var(--blue-500);
}
