.input {
  /*input 부분 */
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  /*폰트 부분 */
  color: var(--gray-500);
  font-family: Pretendard;
  font-size: 16px; /* Font/16 Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.input:focus {
  outline: none;
  /*input 부분 */
  border: 1px solid var(--gray-500);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /*폰트 부분 */
  color: var(--gray-900);
}

.input:active {
  outline: none;
  /*input 부분 */
  border: 1px solid var(--gray-500);
  /*폰트 부분 */
  color: var(--gray-900);
}

.input:focus::placeholder,
.input:active::placeholder {
  color: var(--gray-900);
  font-family: Pretendard;
  font-size: 16px; /* Font/16 Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.input:hover {
  /*input 부분 */
  border: 1px solid var(--gray-500);
  /*폰트 부분 */
  color: var(--gray-500);
}

.input:hover::placeholder {
  color: var(--gray-500);
  font-family: Pretendard;
  font-size: 16px; /* Font/16 Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.disabled {
  /*input 부분 */
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background: var(--gray-100);
  /*폰트 부분 */
  color: var(--gray-400);
  font-family: Pretendard;
  font-size: 16px; /* Font/16 Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.error {
  /*input 부분 */
  outline: none;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--error);
  background: var(--white);
  /*폰트 부분 */
  color: var(--gray-900);
  font-family: Pretendard;
  font-size: 16px; /* Font/16 Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.error::placeholder {
  color: var(--gray-900);
  font-family: Pretendard;
  font-size: 16px; /* Font/16 Regular */
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}

.errorMessage {
  position: absolute;
  margin-top: 4px;
  color: var(--error);
  /* Font/12 Regular */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.06px;
}
