.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
  max-width: 1200px;
  width: 100%;
  height: 64px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoContainer:hover {
  cursor: pointer;
}

.logoText {
  color: var(--gray-600);
  text-align: center;
  font-family: Poppins;
  font-size: var(--xl);
  font-weight: var(--bold);
}

.button {
  display: flex;
  height: 42px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--white);
}

.button:hover {
  cursor: pointer;
}

.buttonText {
  color: var(--gray-900);
  text-align: center;
  font-size: var(--m);
  font-style: normal;
  font-weight: var(--bold);
  line-height: 26px;
  letter-spacing: -0.16px;
}

.line {
  height: 1px;
  flex-shrink: 0;
  background: #ededed;
}
