.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
  max-width: 1200px;
  width: 100%;
}

.toNameContainer {
  display: flex;
  align-items: center;
}

.toName {
  color: var(--gray-800, #2b2b2b);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.28px;
}

.imojiContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.writedContainer {
  display: flex;
  align-items: center;
  gap: 11px;
}

.line {
  display: none;
  height: 1px;
  flex-shrink: 0;
  background: #ededed;
}

.imageContainer {
  display: flex;
  position: relative;
  width: 100px;
  height: 28px;
}

.image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.imageText {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 28px;
  flex-shrink: 0;
  border: 1px solid #e3e3e3;
  border-radius: 14px;
  background-color: #fff;
  color: #484848;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 0 5px;
}

.textPadding {
  padding: 2px;
}

.writed {
  color: var(--gray-900, #181818);
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.numOfWrited {
  font-weight: 700;
}

.writedText {
  font-weight: 400;
}

.writedBar,
.shareContainerBar {
  width: 1px;
  height: 28px;
  background: var(--gray-200, #eee);
}
.badgeContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.badgeAndShareContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badgeAndDropdownContainer {
  display: flex;
  align-items: center;
}

.dropDownContainer {
  position: relative;
  background-image: url(../../../asset/img/buttonIcon/arrow-down.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin: 6px;
  cursor: pointer;
}
.shareContainer {
  display: flex;
  align-items: center;
  gap: 13px;
}

.shareButton {
  position: relative;
}
.emojiContainer {
  position: absolute;
  width: 350px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  top: 40px;
  right: 0px;
  z-index: 10;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 69px);
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.addEmojiContainer {
  position: relative;
}

.emojiApiContainer {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 10;
}

.shareButtonContainer {
  position: absolute;
  width: 138px;
  border-radius: 8px;
  z-index: 10;
  border: 1px solid var(--gray-300, #ccc);
  background: var(--white, #fff);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  top: 40px;
  padding: 10px 0;
}

.shareButtonElement {
  padding: 12px 16px;
}

.shareButtonElement:hover {
  background: var(--gray-100, #f6f6f6);
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1370px) {
  .shareButtonContainer {
    right: 0;
  }
}

@media (max-width: 860px) {
  .imageContainer,
  .writed,
  .writedBar {
    display: none;
  }
}

@media (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    align-items: normal;
    padding: 0;
  }

  .imojiContainer {
    gap: 0;
    justify-content: left;
  }

  .toNameContainer {
    padding: 12px 0px;
  }

  .toName {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.18px;
  }

  .line {
    display: block;
  }

  .badgeAndShareContainer {
    padding: 8px 0;
  }
}
