.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
  max-width: 1200px;
  width: 100%;
}

.toNameContainer {
  display: flex;
  align-items: center;
}

.toName {
  color: var(--gray-800);
  font-size: var(--xxxl);
  font-weight: var(--bold);
  line-height: 42px;
  letter-spacing: -0.28px;
}

.emojiBadgeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.writedContainer {
  display: flex;
  align-items: center;
  gap: 11px;
}

.line {
  display: none;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--gray-200);
}

.imageContainer {
  display: flex;
  position: relative;
  width: 100px;
  height: 28px;
}

.image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white);
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.textPadding {
  padding: 2px;
}

.writed {
  color: var(--gray-900);
  font-size: var(--l);
  line-height: 27px;
}

.numOfWrited {
  font-weight: var(--bold);
}

.writedText {
  font-weight: var(--regular);
}

.writedBar,
.shareContainerBar {
  width: 1px;
  height: 28px;
  background: var(--gray-200);
}
.badgeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.badgeAndShareContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badgeAndDropdownContainer {
  display: flex;
  align-items: center;
}

.dropDownContainer {
  position: relative;
  background-image: url(../../../asset/img/buttonIcon/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  margin: 6px;
  cursor: pointer;
}
.shareContainer {
  display: flex;
  align-items: center;
  gap: 13px;
}

.shareButton {
  position: relative;
}
.emojiContainer {
  position: absolute;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  top: 40px;
  right: 0px;
  z-index: 10;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.addEmojiContainer {
  position: relative;
}

.emojiApiContainer {
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 10;
}

.shareButtonContainer {
  position: absolute;
  width: 138px;
  border-radius: 8px;
  z-index: 10;
  border: 1px solid var(--gray-300);
  background: var(--white);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
  top: 40px;
  padding: 10px 0;
}

.shareButtonElement {
  padding: 12px 16px;
}

.shareButtonElement:hover {
  background: var(--gray-100);
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1370px) {
  .shareButtonContainer {
    right: 0;
  }
}

@media (max-width: 1248px) {
  .emojiContainer {
    grid-template-columns: repeat(3, 63px);
  }
}

@media (max-width: 1024px) {
  .imageContainer,
  .writed,
  .writedBar {
    display: none;
  }
}

@media (max-width: 600px) {
  .headerContainer {
    flex-direction: column;
    align-items: normal;
    padding: 0;
  }

  .emojiBadgeContainer {
    gap: 0;
    justify-content: left;
  }

  .toNameContainer {
    padding: 12px 0px;
  }

  .toName {
    font-size: var(--l);
    line-height: 28px;
    letter-spacing: -0.18px;
  }

  .line {
    display: block;
    margin: 0 -24px;
  }

  .badgeAndShareContainer {
    padding: 8px 0;
  }

  .emojiContainer {
    grid-template-columns: repeat(3, 55px);
    right: -30px;
  }

  .emojiApiContainer {
    left: -215px;
  }
}
