.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.modalContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 475px;
  padding: 30px;
  border-radius: 16px;
  background: var(--white);
  flex-shrink: 0;
  gap: 20px;
  @media (max-width: 650px) {
    width: 370px;
    height: 320px;
    padding: 15px;
    gap: 10px;
  }
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modalProfile {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.modalProfile .profileImg {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  @media (max-width: 650px) {
    width: 40px;
    height: 40px;
  }
}
.modalProfile .profileForm {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 3px 0px;
}
.modalProfile .profileName {
  color: var(--black);
  font-size: var(--xl);
  font-weight: var(--regular);
  line-height: 24px;
}
.modalDate {
  color: var(--gray-400);
  font-size: var(--xs);
  font-weight: var(--regular);
  line-height: 20px;
  letter-spacing: -0.07px;
}
.modalMessageForm {
  padding-top: 16px;
  border-top: 1px solid var(--gray-200);
  height: 240px;
  @media (max-width: 650px) {
    height: 150px;
  }
}
.modalMessage {
  overflow: auto;
  height: 100%;
}
.modalMessage::-webkit-scrollbar {
  width: 20px;
  height: 240px;
  flex-shrink: 0;
}
.modalMessage::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  background-clip: padding-box;
  border-left: 16px solid var(--white);
}
.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
