.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.btn:disabled:not(:enabled) {
  border: 1px solid var(--gray-300);
  background-color: var(--gray-300);
  color: var(--white);
}

.tall {
  padding: 14px 16px;
  height: 56px;
  border-radius: 12px;
  font-size: var(--l);
  font-weight: var(--bold);
  letter-spacing: -0.18px;
}

.standard {
  padding: 8px 16px;
  height: 40px;
  border-radius: 6px;
  letter-spacing: -0.16px;
}

.compact {
  gap: 4px;
  padding: 6px 16px;
  height: 36px;
  border-radius: 6px;
  font-weight: 500;
}

.short {
  gap: 4px;
  padding: 2px 16px;
  height: 28px;
  border-radius: 6px;
  font-weight: 500;
  letter-spacing: -0.07px;
}

.primary {
  width: 100%;
  background-color: var(--purple-600);
  color: var(--white);
}

.primary:hover {
  background-color: var(--purple-700);
}

.primary:focus-visible {
  border: 2px solid var(--purple-900);
  background-color: var(--purple-800);
}

.short.primary:focus-visible {
  border-width: 1px;
}

.primary:active {
  background-color: var(--purple-800);
}

.secondary {
  border: 1px solid var(--purple-600);
  background-color: var(--white);
  color: var(--purple-700);
}

.secondary:hover {
  border: 1px solid var(--purple-700);
  background-color: var(--purple-100);
  color: var(--purple-600);
}

.secondary:active {
  border: 1px solid var(--purple-800);
  background-color: var(--purple-100);
  color: var(--purple-600);
}

.secondary:focus-visible {
  border: 1px solid var(--purple-800);
  background-color: var(--white);
  color: #9747ff;
}

.outlined {
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  color: var(--gray-900);
}

.outlined:hover,
.outlined:active {
  border: 1px solid var(--gray-300);
  background-color: var(--gray-100);
}

.outlined:focus-visible {
  border: 1px solid var(--gray-500);
  background-color: var(--white);
}

.circle {
  border-radius: 50%;
}

.circle.tall {
  padding: 16px;
  width: 56px;
  height: 56px;
}

.circle.standard {
  padding: 12px;
  width: 40px;
  height: 40px;
}

.dark {
  background-color: var(--gray-500);
}

.dark:disabled {
  background-color: var(--gray-300);
}

.dark:hover {
  background-color: var(--gray-600);
}

.dark:active {
  background-color: var(--gray-700);
}

.dark:focus-visible {
  border: 1px solid var(--gray-800);
  background-color: var(--gray-700);
}

.arrow {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--gray-300);
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
  backdrop-filter: blur(2px);
}

.square {
  padding: 6px;
  width: 36px;
  height: 36px;
}
