.btn {
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.plus {
  width: 56px;
  height: 56px;
  background: url("../../../asset/img/buttonIcon/plus.svg") no-repeat center;
  background-color: var(--gray-500);
}

.plus:disabled {
  background-color: var(--gray-300);
  cursor: not-allowed;
}

.plus:hover {
  background-color: var(--gray-600);
}

.plus:active {
  background-color: var(--gray-700);
}

.plus:focus-visible {
  border: 1px solid var(--gray-800);
  background-color: var(--gray-700);
}

.check {
  width: 44px;
  height: 44px;
  background: url("../../../asset/img/buttonIcon/check.svg") no-repeat center;
  background-color: var(--gray-500);
}

.arrow {
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-300);
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.08));
  backdrop-filter: blur(2px);
}

.rightArrow {
  background: url("../../../asset//img//buttonIcon/arrow-right.svg") no-repeat
    center;
  background-color: rgba(255, 255, 255, 0.9);
}

.leftArrow {
  background: url("../../../asset//img//buttonIcon/arrow-left.svg") no-repeat
    center;
  background-color: rgba(255, 255, 255, 0.9);
}
