html {
  font-size: 0.625rem;
}

body {
  min-width: 320px;
  line-height: normal;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}
